<app-panel-box>
    <span panel-title>Reactive Forms</span>
    <div panel-content>
      <form [formGroup]="userForm">
        <div class="form-group">
          <label class="control-label">First Name</label>
          <input type="text" placeholder="First Name" class="form-control" formControlName="firstname" />
          <div *ngIf="!userForm.get('firstname').valid && userForm.get('firstname').touched">
            <div class="alert alert-danger" *ngIf="userForm.get('firstname').errors.required">Please fill in last name</div>
            <div class="alert alert-danger" *ngIf="userForm.get('firstname').errors.minlength">Please fill in valid last name</div>
        </div> 
        </div>
        <div class="form-group">
          <label class="control-label">Last Name</label>
            <input type="text" placeholder="Last Name" class="form-control" formControlName="lastname">
          <div *ngIf="!userForm.get('lastname').valid && userForm.get('lastname').touched">
              <div class="alert alert-danger" *ngIf="userForm.get('lastname').errors.required">Please fill in last name</div>
              <div class="alert alert-danger" *ngIf="userForm.get('lastname').errors.minlength">Please fill in valid last name</div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Email</label>
            <input type="email" placeholder="Email" class="form-control" formControlName="email">
          <div *ngIf="!userForm.get('email').valid && userForm.get('email').touched">
            <div class="alert alert-danger" *ngIf="userForm.get('email').errors.required">Please fill in email</div>
            <div class="alert alert-danger" *ngIf="userForm.get('email').errors.pattern">Please fill in valid email</div>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label">Male
              <input type="radio" value="male" formControlName="gender" (click)="updateValidation('male')">
            </label>
            <label class="control-label">Female
              <input type="radio" value="female" formControlName="gender" (click)="updateValidation('female')">
            </label>
            <div *ngIf="!userForm.get('gender').valid && userForm.get('gender').touched">
              <div class="alert alert-danger" *ngIf="userForm.get('gender').errors.required">Please select gender</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Address</label>
              <input type="text" placeholder="Address" class="form-control" formControlName="address">
            <div *ngIf="!userForm.get('address').valid && userForm.get('address').touched">
                <div class="alert alert-danger" *ngIf="userForm.get('address').errors.required">Please fill in address</div>
                <div class="alert alert-danger" *ngIf="userForm.get('address').errors.minlength">Please fill in valid address</div>
            </div>
        </div>
        <button class="btn btn-primary" [disabled]="!userForm.valid" (click)="saveUserInfo()">Save</button>
      </form>
    </div>
  </app-panel-box>
  