<app-panel-box>
  <!-- app-panel-box i layout umun template'i olarak olusturmustum, daha sonra cok sayfam olunca sadece degisiklikleri biryerden yapiyim gibi, function'in template'teki hali -->
  <span panel-title>Product Details</span>
  <div panel-content>
    Product Code:{{productCode.pId}}
  <!--  birbirlerinden ayirt ettigimiz code'larini gosterecek,sadece productCode yazsaydik Object Object gosteriyor.  --> 
  <!-- Ama biz app-routing de productCode:pId olarak belirledik zaten, onu da burdaki gibi gosteriyoruz gorenilmek icin -->
</div>
</app-panel-box>
